output:
  type: csv_files
  directory: "/tmp/koubachi_sensor_readings"
  # type: thingsboard_mqtt
  # topic: "v1/gateway/telemetry"
  # hostname: "demo.thingsboard.io"
  # username: "access_token"
  # # password: "password"
devices:
  001122334455:
    key: 00112233445566778899aabbccddeeff
    calibration_parameters:
      LM94022_TEMPERATURE_OFFSET: 0.0
      RN171_SMU_DC_OFFSET: 0.0
      RN171_SMU_GAIN: 1.0
      SFH3710_DC_OFFSET_CORRECTION: 0.0
      SOIL_MOISTURE_DISCONTINUITY: 8778.25
      SOIL_MOISTURE_MIN: 3515.25
